PORT=4000
ALLOWED_ORIGIN=https://tu-frontend.vercel.app

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_app_password

CONTACT_FROM_EMAIL=tu_correo@gmail.com
CONTACT_TO_EMAIL=tu_correo@gmail.com
